name: Build and Push Astraea OCI Image to GHCR

on:
  push:
    branches: [ main ]
    paths: 
      - astraea/**
      - astraea-cli/**
      - astraea-modules/**

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: shelepuginivan/astraea

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -f Containerfile -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest .

      - name: Push image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
